[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
/.idea
Ankh.NoLoad

artifacts/
*.dbmdl

debug
release
/packages/*
!packages/Kendo.Q1.2013
/nuget-pack-out

node_modules
!Misc/Sonar/lib/**
Misc/Sonar/reports/
DeployPackages

Visma.AdMaster.Opus/Logs
.vs/
*.psess
Visma.AdMaster.Files/Logs
*.ffs_db

/zk-single-kafka-single